body {
	background: url(../images/yokaiwallpaper.jpg);
}


.stylePic {
	width: 300px;
	height: 250px;
}

p {
	color: #5A1B26;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}



/* .change {
	width: 400px;
	height: 350px;
} */

h1{
	color: #5A1B26;
	font-family: Arial, Helvetica, sans-serif;
	color: red;
	font-size: 64px;

}
#mainContent{
	background: white;
}