body {
	background: url(../images/yokaiwallpaper.jpg);
}



p {
	color: black;
	font-family: 'Bangers', cursive;
	font-size: 24px;
}

h2 {
	color: red;
	font-family: 'Bangers', cursive;
	font-size: 32px;
}

h1{
	color:black;
	font-family: 'Bangers', cursive;
	font-size: 64px;

}
#mainContent{
	background: white;

}

#Winningimage{
	height: 350px;
	width: 350px;

}